<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Main Page</title>
    <script src="/assets/javascripts/angular.js" type="text/javascript"> </script>
    <script src="/assets/javascripts/angular-resource.js" type="text/javascript"> </script>

</head>
<body>
<div>
    <div ng-controller="MyController">
        <div my-directive
                my-url="http://www.baidu.com"
                my-link-text="Click me to go to Baidu"></div>


        <h1>Hello {{ name }} !</h1>
        <button ng-click="add(1)" class="button">Add</button>
        <a ng-click="subtract(1)">Subtract</a>
        <h4>Current count: {{ counter }}</h4>


        <input ng-model="expr" type="text" placeholder="Enter and expression"/>
        <h2>{{ parsedValue }}</h2>

        <input ng-model="to" type="email" placeholder="Recipient"/>
        <textarea ng-model="emailBody"></textarea>
        <pre>{{ previewText }}</pre>
    </div>
</div>

<script src="/assets/javascripts/app.js"></script>
</body>
</html>